<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/headerAdmin.ejs') %>

    <main>

        <form class="formProfile" action="/users/upload?_method=PUT" method="POST"
        enctype="multipart/form-data">
        
        <h1>Editar Usuario</h1>
        <div class="container-create-product">
            <img class="widthProfile" src="./../../img/users/<%= user.profile_image %>" >
        </div>
        <div class="form-control">
           <label for="img">Seleccione la imagen</label>
           <input type="file" name="image" value="<%= user.profile_image %>" >
       </div>
        <div class="container-create-product">
            
                    <input type="hidden" name="id" class="d-none" value="<%= user.id %>">

                    <div class="form-control">
                    <label for="name">Nombre Completo</label>
                    <input type="text" name="full_name" class="input-product" value="<%= user.full_name %>">
                </div>
            
 
                <div  class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email"class="input-product" value="<%= user.email %>">
                </div>

                <label for="name">Categoria</label>
                <div class="col-md-6 my-1">
                    <div class="form-group-create-produc">
                        <% if (user.users_category) {  %>
                            <select name="users_category">
                                <% allCategorys.forEach(userCategory => { %>
                                    <option value="<%= userCategory.id %>" <% if (user.users_category == userCategory.id) { %><%= 'selected' %><% }; %>><%= userCategory.category_name %></option>
                                <% }); %>
                            </select>
                        <% } else { %>
                            <select name="users_category">  
                                <% allCategorys.forEach(userCategory => { %>
                                    <option value="<%= userCategory.id %>"><%= userCategory.category_name %></option>
                                <% }); %>
                            </select>
                        <% } %>

                    </div>
                </div>

                <div class="box-btn-form-create-produc">
                    <input type="submit" value="Guardar" class="btn-guardar">
                    <input type="reset" value="Borrar Cambios" class="btn-reset">
                </div>
             </div>
             
        </form>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
