<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/headerAdmin.ejs') %>

    <main>
        <div class="contenedor">
            <form class="formulario" action="/users/upload?_method=PUT" method="POST" enctype="multipart/form-data">
            
                <h1>Editar Usuario</h1>
            
                <img class="w-50 p-3" src="./../../img/users/<%= user.profile_image %>" >
         
           
                <label for="img">Seleccione la imagen</label>
                <input type="file" name="image" value="<%= user.profile_image %>" class="input-contenedor userField m-3" >
            
            
                
                <input type="hidden" name="id" class="input-contenedor userField" value="<%= user.id %>">

                <label for="name">Nombre Completo</label>
                <input type="text" name="full_name" class="input-contenedor userField" value="<%= user.full_name %>">

                <label for="email">Email</label>
                <input type="email" name="email"class="input-contenedor userField" value="<%= user.email %>">
            

                <label for="name">Categoria</label>
                <select name="category">
                    <option value="user" <%= locals.old && old.category === 'user' ? 'selected' :'' %> >Usuario</option>
                    <option value="admin" <%= locals.old && old.category === 'admin' ? 'selected' :'' %> >Administrador</option>
                </select>
                    
                

                <div class="box-btn-form-create-produc">
                    <input type="submit" value="Guardar" class="buttonConfirm button">
                    <input type="reset" value="Borrar Cambios" class="buttonConfirm button">
                </div>
                
                
            </form>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
