<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/header.ejs') %>
   
    <main>

        <form class="form-create-produc" action="/products/<%=product.id%>?_method=PUT" method="POST">

            <h1>Editar Producto</h1>
                <div class="container-create-product">
            
                <div class="form-control">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" class="input-product" value="<%= product.name %>">
                </div>
                 <div class="form-control">
                    <label for="price">Precio</label>
                    <input type="text" name="price"class="input-product" value="<%= product.price %>">
                </div>
 
                    <label for="description">Descripción</label>
                    <textarea type="text" name="description" class="input-product"><%= product.description %>
                    </textarea>
                <!-- WORKING VP
                 <div class="form-control">
                    <label for="img">Seleccione la imagen</label>
                    <input type="file" name="img" value="<%= product.img %>" >
                </div>  WORKING VP -->

                <div class="box-btn-form-create-produc">
                    <input type="submit" value="Guardar" class="btn-guardar">
                    <input type="reset" value="Borrar Cambios" class="btn-reset">
                    <input type="reset" value="Volver" class="btn-reset" onclick="location.href='/products/list_products/'">
                </div>
             </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
