<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/header.ejs') %>

    <main>
        <section class="filter-search">
            <article class="select-featured-products">
                <select>
                    <option>Destacados</option>
                    <option>Lo más viejo</option>
                    <option>Lo más nuevo</option>
                    <option>Precio menor a mayor</option>
                    <option>Precio mayor a menor</option>
                </select>
            </article>

            <article class="select-categorys">
                <select>
                    <option>Filtrar por categoría</option>
                    <option>Celulares</option>
                    <option>Smartwatch</option>
                    <option>Auriculares</option>
                    <option>Accesorios</option>
                </select>
            </article>
        </section>

        <section class="main-products">
            <ul class="ul-list-categorys">
                <h2>Categorías</h2>
                <li>Celulares</li>
                <li>Smartwatch</li>
                <li>Auriculares</li>
                <li>Accesorios</li>
            </ul>

            <section class="page-products-products-detail">
                <% for(let product of products) { %>
                    <div class="box-products">
                        <div class="text-center">
                            <a href="/products/details/<%= product.id %>">
                                <img src="<%= product.img %>" alt="<%= product.name %>">
                            </a>
                        </div>
                        <h2 class=""><%= product.name %></h2>
                        <p><%= product.price %></p>
                       
                        <a href="/products/details/<%= product.id %>" target="_parent"><button class="details">Ver Detalles</button></a>
                    </div>
                <% } %>
            
               
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
