<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/header.ejs') %>
   
    <main>
        <form action="/products/upload/<%=product.id%>?_method=PUT" method="POST">

        <form class="form-product" action="/products/upload?<%=product.id%>?_method=PUT" method="POST"
        enctype="multipart/form-data">
    
            
            <h1>Editar Producto</h1>
            <input type="text" name="id" class="input-contenedor" value="<%= product.name %>">
              
            <h3><b>Nombre:</b></h3>
                <div class="input-contenedor">
                    <input type="text" name="name" class="input-contenedor" value="<%= product.name %>">
                </div>
                <% if (product.category_id) {  %> 
                    <select name="category_id" id="">
                        <% allCategorys.forEach(category => { %>
                        <option value="<%= category.id %>"
                            <%= product.category_id === category.id ?  'selected' :'' %>><%=category.name %>
                        </option>
                            <% }); %>
                    </select>
                <% } else { %>
                    <select name="category_id" id="" required>
                        <% allCategorys.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                        <% }); %>
                    </select>
                    <% } %>
                <div class="col-md-6 my-1">
                    <div class="form-group-create-produc">
                        <h3><b>Código de producto:</b></h3>
                        <div class="input-contenedor">
                            <input type="text" name="product_code"class="input-contenedor" value="<%= product.product_code %>">
                        </div>
                    </div>
                </div>

                <h3><b>Precio:</b></h3>
                 <div class="input-contenedor">
                    <input type="text" name="price"class="input-contenedor" value="<%= product.price %>">
                </div>
                <h3><b>Descripción:</b></h3>
                  <div class="form-control">      
                    <textarea type="text" name="description" class="input-contenedor"><%= product.description %>
                    </textarea>
                </div>

                <h3><b>Color:</b></h3>
        <div class="col-md-6 my-1">
            <div class="form-group-create-produc">
                <% if (product.color_id) {  %>
                    <select name="color_id" id="" required>
                        <% allcolors.forEach(color => { %>
                                <option value="<%= color.id %>"
                                    <%= product.color_id === color.id ?  'selected' :'' %>><%=color.name %>
                                </option>
                        <% }); %>
                    </select>
                <% } else { %>
                    <select name="color_id" id="" required>
                        <% allcolors.forEach(color => { %>
                        <option value="<%= color.id %>"><%= color.name %></option>
                        <% }); %>
                    </select>
                    <% } %>
            </div>
        </div>
        <h3><b>Status:</b></h3>
                <div class="col-md-6 my-1">
                    <div class="form-group-create-produc">
                        <select name="status">
                            <option value="1" <%= product.status === '1' ? 'selected' : '' %> >1</option>
                            <option value="2" <%= product.status === '2' ? 'selected' :'' %> >2</option>
                            <option value="3" <%= product.status === '3' ? 'selected' :'' %> >3</option>
                        </select>
                        
                     </div>
                </div>
            
                <h3><b>Marca:</b></h3>
                <div class="col-md-6 my-1">
                    <div class="form-group-create-produc">
                        <% if (product.brand_id) {  %> 
                            <select name="brand_id" id="">
                                <% allbrands.forEach(brand => { %>
                                <option value="<%= brand.id %>"
                                    <%= product.brand_id === brand.id ?  'selected' :'' %>><%=brand.name %>
                                </option>
                                    <% }); %>
                            </select>
                        <% } else { %>
                            <select name="brand_id" id="" required>
                                <% allbrands.forEach(brand => { %>
                                <option value="<%= brand.id %>"><%= brand.name %></option>
                                <% }); %>
                            </select>
                            <% } %>
                     </div>
                </div>

                <!-- WORKING VP
                 <div class="form-control">
                    <label for="img">Seleccione la imagen</label>
                    <input type="file" name="img" value="<%= product.img %>" >
                </div>  WORKING VP -->

                <div class="form-group-create-produc">
                    <input type="submit" value="Guardar" class="buttonConfirm button">
                    <input type="reset" value="Borrar Cambios" class="buttonConfirm button">
                    <input type="reset" value="Volver" class="buttonConfirm button" onclick="location.href='/products/list_products/'">
                </div>
             </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
