<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/header.ejs') %>
   
    <main>
        <div class="contenedor">
            <form class="formulario" action="/products/create" method="POST" enctype="multipart/form-data">
                <h2>Crear Producto</h2>
                
                <h3><b>Nombre:</b></h3>
                <div class="input-contenedor userField">
                    <input 
                    type="text" 
                    name="name" 
                    class=" <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.name : null %>"
                    >
                </div>
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>

                
                    
                <select name="category_id" id=""  class="selectIn">
                    <option value="" disabled selected>- seleccione categoría - </option>
                    <% categorysAll.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>
  
                <h3><b>Precio:</b></h3>
                <div class="input-contenedor userField">
                    <input 
                        type="text" 
                        name="price" 
                        class=" <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.price : null %>"
                    >
                </div>
                <% if (locals.errors && errors.price) { %>
                    <div class="text-danger">
                        <%= errors.price.msg %>
                    </div>
                <% } %>

                <h3><b>Stock:</b></h3>
                <div class="input-contenedoruserField">
                    <input 
                        type="text" 
                        name="stock" 
                        class=" <%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.stock : null %>"
                    >
                </div>
                <% if (locals.errors && errors.stock) { %>
                    <div class="text-danger">
                        <%= errors.stock.msg %>
                    </div>
                <% } %>
              
        
                <h3><b>Código de producto:</b></h3>
                <div class="input-contenedor userField">
                    <input 
                        type="text" 
                        name="product_code" 
                        class=" <%= locals.errors && errors.product_code ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.product_code : null %>"
                    >
                </div>

    
            
                <h3><b>Descripcion:</b></h3>
                <div class="input-contenedor userField">
                    <input 
                        type="text" 
                        name="description" 
                        class=" <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                    >
                </div>
                <% if (locals.errors && errors.description) { %>
                    <div class="text-danger">
                        <%= errors.description.msg %>
                    </div>
                <% } %>
                  
                <select name="color_id"  class="selectIn">
                    <option value="" disabled selected>- seleccione color - </option>
                    <% colorsAll.forEach(color => { %>
                    <option value="<%= color.id %>"><%= color.name %></option>
                    <% }); %>
                </select>
 

                <select name="status" id=""  class="selectIn">
                    <option value="" disabled selected>- seleccione status - </option>
                    <option value="<%= 1 %>">Habilitado</option>
                    <option value="<%= 2 %>">Desactivado</option>
                
                </select>


                <select name="brand_id" id=""  class="selectIn">
                    <option value="" disabled selected>- seleccione marca - </option>
                    <% brandsAll.forEach(brand => { %>
                    <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% }); %>
                </select>

                <div>
                    <h3><b>Imagen del producto:</b></h3>
                    <input 
                        type="file" 
                        name="img_id"
                    >
                </div>

                <button type="submit" class="buttonConfirm button">Confirmar</button>
            
            </div>
        </form>
    </main>
   

    <%- include('../partials/footer.ejs') %>
</body>
</html>
